.pais > SVGPath{
    -fx-stroke: #000 ;
    -fx-stroke-width: 2;
    -fx-strokeType: INSIDE;
}

.pais:hover > SVGPath, .pais:active > SVGPath, .pais:focus > SVGPath {
    -fx-fill: #E2E0E0;
    -fx-stroke-width: 3;
    -fx-strokeType: CENTER;
}

.americaDelNorte > SVGPath {
    -fx-fill: #999;
}

.americaDelSur > SVGPath {
    -fx-fill: #666;
}

.europa > SVGPath {
    -fx-fill: #777;
}

.asia > SVGPath {
    -fx-fill: #BBB;
}

.oceania > SVGPath {
    -fx-fill: #888;
}

.africa > SVGPath {
    -fx-fill: #AAA;
}

.pais > Label {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-stroke: #000 ;
    -fx-strokeWidth: 3;
}

.ficha {
    -fx-stroke: #000 ;
    -fx-stroke-width: 1;
    -fx-alignment: center;
}

#Lineas_negras > Rectangle {
    -fx-fill: #FFF ;
    -fx-stroke: #FFF ;
}

#_root {
    -fx-stroke: #000 ;
    -fx-strokeWidth: 3;
}

.Options {
    -fx-spacing: 10;
    -fx-padding: 5;
    -fx-font-size: 13 pt;
}

#playerBox Label {
    -fx-text-fill: white;
    -fx-font-size: 15pt;
    -fx-stroke: #FFF ;
    -fx-strokeWidth: 3;
}

.paisSeleccionable > SVGPath {
    -fx-fill: #B58989;
}

.fondo, #tabJugadores {
    -fx-background-color: #2C2B2C;
}


.fondoMenu {
    -fx-background-color: #2C2B2C;
    -fx-background-image: url("../../../imagenes/Guerra_dark.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.caja,#playerBox {
    -fx-background-color: #3C3F42;
    -fx-text-fill: #FFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#tabJugadores HBox {
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}


TitledPane > *.content {
    -fx-border-color: transparent;
}

.caja * {
    -fx-text-fill: #FFF;
}

.cajaDatos {
    -fx-text-fill: white;
}

Accordion > * > * {
    -fx-background-color: #3C3F42;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

Button {
    -fx-text-fill: white;
    -fx-background-color: #313335;
    -fx-effect: dropshadow(gaussian, #888888, 10, 0.5, 0, 0);
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:hover {
    -fx-effect: dropshadow(gaussian, #888888, 5, 0.5, 0, 0);
}

Slider {
    -fx-text-fill: black;
}

.texto {
    -fx-text-fill: white;
}

.tarjeta > HBox {
    -fx-text-fill: white;
    -fx-background-color: #313335;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, #555, 5, 0.2, 0, 0);
}

.tarjeta > ImageView {
    -fx-effect: innershadow(gaussian, #FFF, 10, 1,0,0)
}

#slider *{
    -fx-tick-label-fill: white;
    -fx-font-size: 11pt;
}

.popupMessage , .Batalla{
    -fx-background-color: #313335;
    -fx-background-radius: 10;
}

.popupMessage *, .Batalla *{
    -fx-text-fill: white;
}

.dataBoxSection > Label{
    -fx-text-fill: white;
    -fx-font-size: 11pt;
}

.blackPlayerLabel {
    -fx-text-fill: #FFF;
}

.botonSwitch {
    -fx-background-color: transparent;
    -fx-background-image: url("../../../imagenes/clear_mode.png");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-border-color: transparent;
}

.botonMusica {
    -fx-background-color: transparent;
    -fx-background-image: url("../../../imagenes/sound_on_dark_mode.png");
    -fx-background-position: center;
    -fx-background-size: 30 30;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
}

.botonMusica: selected {
    -fx-background-color: transparent;
    -fx-background-image: url("../../../imagenes/sound_off_dark_mode.png");
    -fx-background-position: center;
    -fx-background-size: 30 30;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
}


