.pais > SVGPath{
    -fx-stroke: #000 ;
    -fx-stroke-width: 2;
    -fx-strokeType: INSIDE;
}

.pais:hover > SVGPath, .pais:active > SVGPath, .pais:focus > SVGPath {
    -fx-fill: #C9C9C9;
    -fx-stroke-width: 3;
    -fx-strokeType: CENTER;
}

.americaDelNorte > SVGPath {
    -fx-fill: #898989;
}

.americaDelSur > SVGPath {
    -fx-fill: #A3A3A3;
}

.europa > SVGPath {
    -fx-fill: #CBCBCB;
}

.asia > SVGPath {
    -fx-fill: #A3A3A3;
}

.oceania > SVGPath {
    -fx-fill: #C6C6C6;
}

.africa > SVGPath {
    -fx-fill: #858585;
}

.pais > Label {
    -fx-text-fill: #FFF;
    -fx-font-size: 12pt;
    -fx-stroke: #FFF ;
    -fx-strokeWidth: 3;
}

.ficha {
    -fx-stroke: #000 ;
    -fx-stroke-width: 1;
    -fx-alignment: center;
}

#Lineas_negras > Rectangle {
    -fx-fill: #000 ;
    -fx-stroke: #000 ;
}

#_root {
    -fx-stroke: #FFF ;
    -fx-strokeWidth: 3;
}

.Options {
    -fx-spacing: 10;
    -fx-padding: 5;
    -fx-font-size: 13 pt;
}
#playerBox Label {
    -fx-text-fill: #FFF;
    -fx-font-size: 15pt;
    -fx-stroke: #000 ;
    -fx-strokeWidth: 3;
}

.paisSeleccionable > SVGPath {
    -fx-fill: #9EC4B6
}

.fondo,#tabJugadores {
    -fx-background-color: #FFF;
}

.fondoMenu {
    -fx-background-color: #FFF;
    -fx-background-image: url("../../../../../imagenes/Guerra.png");
    -fx-background-repeat: repeat no-repeat;
}

.caja,#playerBox {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#tabJugadores HBox {
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}


TitledPane > *.content {
    -fx-border-color: transparent;
}

.caja * {
    -fx-text-fill: #000;
}

.cajaDatos {
    -fx-text-fill: #000;
}

Accordion > * > * {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

Button, .botonMusica {
    -fx-text-fill: #000;
    -fx-background-color: #DDD;
    -fx-effect: dropshadow(gaussian, #999, 9, 0.3, 0, 0);
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
}

.botonMusica:selected {
    -fx-opacity: 0.5;
}

.toggle-button:hover {
    -fx-effect: dropshadow(gaussian, #999, 3, 0.3, 0, 0);
}

Slider {
    -fx-text-fill: black;
}

.texto {
    -fx-text-fill: #000;
}

.tarjeta > HBox {
    -fx-text-fill: #000;
    -fx-background-color: #DDD;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, #959595, 5, 0.2, 0, 0);
}

.tarjeta > ImageView {
    -fx-effect: innershadow(gaussian, #000, 10, 1,0,0)
}

#slider *{
    -fx-tick-label-fill: #000;
    -fx-font-size: 11pt;
}

.popupMessage , .Batalla{
    -fx-background-color: #DDD;
    -fx-background-radius: 10;
}
.popupMessage *, .Batalla *{
    -fx-text-fill: #000;
}
.dataBoxSection > Label{
    -fx-text-fill: #000;
    -fx-font-size: 11pt;
}

.blackPlayerLabel {
    -fx-text-fill: #000;
}

.botonSwitch {
    -fx-background-color: transparent;
    -fx-background-image: url("../../../../../imagenes/dark_mode.png");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-border-color: transparent;
}
