.button {
    -fx-text-fill: #235623;
}

.pais > SVGPath{
    -fx-stroke: #000 ;
    -fx-stroke-width: 2;
    -fx-strokeType: INSIDE;
}

.pais:hover > SVGPath, .pais:active > SVGPath, .pais:focus > SVGPath {
    -fx-fill: #C9C9C9;
    -fx-stroke-width: 3;
    -fx-strokeType: CENTER;
}

.pais > Label {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-stroke: #000 ;
    -fx-strokeWidth: 3;
}

.ficha {
    -fx-stroke: #000 ;
    -fx-stroke-width: 1;
    -fx-alignment: center;
}

#Lineas_negras {
    -fx-fill: #000 ;
}

#_root {
    -fx-stroke: #000 ;
    -fx-strokeWidth: 3;

}

.Options {
    -fx-spacing: 10;
    -fx-padding: 5;
    -fx-font-size: 12 pt;
}
